/* 
===START OF COPY===
Copyright HAL24K WATER 2020 - All rights reserved
This file is supplied under licence, you are not free to copy or use this software in any other way.
===END OF COPY=== 
*/

@charset "UTF-8";
/*------------------------------------*\
  # TABLE OF CONTENTS
\*------------------------------------*/
/**
 * ELEMENTS
 *
 * OBJECTS
 *
 * COMPONENTS
 * Nav primary..........The site’s main nav.
 *
 * PAGES
 * Map page
 * Summary page
 * Water Quality page
 * Equipment availability exceptions
 * GAC Adsorber Risks
 * Clarification DAF Streams Page
 * PLC Data Issues Page
 * PLC Communication Issues Page
 * Filtration RGF Page
 * Bearing Temperature Exceptions
 * Motor Temperature Exceptions
 * None-execution of maintenance plans
 * OSM/Discharge Schematic Drilldown
 *
 * MEDIA QUERIES
 */

/*------------------------------------*\
  #BOX-SIZING
\*------------------------------------*/
/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */
/* html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
} */


/* ELEMENTS */
/* lato-100 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/lato-v16-latin-100.eot'); /* IE9 Compat Modes */
  src: local('Lato Hairline'), local('Lato-Hairline'),
       url('../fonts/lato-v16-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato-v16-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato-v16-latin-100.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato-v16-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato-v16-latin-100.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-100italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  src: url('../fonts/lato-v16-latin-100italic.eot'); /* IE9 Compat Modes */
  src: local('Lato Hairline Italic'), local('Lato-HairlineItalic'),
       url('../fonts/lato-v16-latin-100italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato-v16-latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato-v16-latin-100italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato-v16-latin-100italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato-v16-latin-100italic.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-300 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/lato-v16-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Lato Light'), local('Lato-Light'),
       url('../fonts/lato-v16-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato-v16-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato-v16-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato-v16-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato-v16-latin-300.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-300italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/lato-v16-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local('Lato Light Italic'), local('Lato-LightItalic'),
       url('../fonts/lato-v16-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato-v16-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato-v16-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato-v16-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato-v16-latin-300italic.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/lato-v16-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Lato Italic'), local('Lato-Italic'),
       url('../fonts/lato-v16-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato-v16-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato-v16-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato-v16-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato-v16-latin-italic.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lato-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lato Regular'), local('Lato-Regular'),
       url('../fonts/lato-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato-v16-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/lato-v16-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Lato Bold'), local('Lato-Bold'),
       url('../fonts/lato-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato-v16-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato-v16-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-700italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/lato-v16-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
       url('../fonts/lato-v16-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato-v16-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato-v16-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato-v16-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato-v16-latin-700italic.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/lato-v16-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Lato Black'), local('Lato-Black'),
       url('../fonts/lato-v16-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato-v16-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato-v16-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato-v16-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato-v16-latin-900.svg#Lato') format('svg'); /* Legacy iOS */
}
/* lato-900italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 900;
  src: url('../fonts/lato-v16-latin-900italic.eot'); /* IE9 Compat Modes */
  src: local('Lato Black Italic'), local('Lato-BlackItalic'),
       url('../fonts/lato-v16-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato-v16-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato-v16-latin-900italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato-v16-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato-v16-latin-900italic.svg#Lato') format('svg'); /* Legacy iOS */
}

*{
  font-family: "Lato", "Calibri", "Verdana", "Lucida Sans";
}

body {
  background-color: #e9f0f5 !important;
  color: #4d4d4d;
  font-size: 14px;
  line-height: 14px;
  max-height: 900px;
  max-width: 1792px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: .5em;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

.h1,
h1 {
  font-size: 2.1875em;
}

.h2,
h2 {
  font-size: 1.75em;
}

.h3,
h3 {
  font-size: 1.53125em;
}

.h4,
h4 {
  font-size: 1.3125em;
}

.h5,
h5 {
  font-size: 1.09375em;
}

.h6,
h6 {
  font-size: 0.875em;
}

a {
  color: #4d4d4d;
}

a:hover,
a:focus {
  color: darken(#4d4d4d, 10%);
}

button {
  border: 1px solid #c8ced3;
  background-color: #d1e8f6;
  border-radius: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}

.center {
  margin: auto;
}

.m-0 {
  margin: 0 !important;
}

.m-4 {
  margin: 4px;
}

.m-8 {
  margin: 8px;
}

.m-12 {
  margin: 12px;
}

.m-16 {
  margin: 16px;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-4 {
  margin-top: 4px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-16 {
  margin-top: 16px;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-4 {
  margin-right: 4px;
}

.mr-8 {
  margin-right: 8px;
}

.mr-12 {
  margin-right: 12px;
}

.mr-16 {
  margin-right: 16px;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-4 {
  margin-left: 4px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-12 {
  margin-left: 12px;
}

.ml-16 {
  margin-left: 16px;
}

.p-0 {
  padding: 0 !important;
}

.p-4 {
  padding: 4px;
}

.p-8 {
  padding: 8px;
}

.p-12 {
  padding: 12px;
}

.p-16 {
  padding: 16px;
}

.pt-0 {
  padding-top: 0 !;
}

.pt-4 {
  padding-top: 4px;
}

.pt-8 {
  padding-top: 8px;
}

.pt-12 {
  padding-top: 12px;
}

.pt-16 {
  padding-top: 16px;
}

.pr-0 {
  padding-right: 0 !important;
}

.pr-4 {
  padding-right: 4px;
}

.pr-8 {
  padding-right: 8px;
}

.pr-12 {
  padding-right: 12px;
}

.pr-16 {
  padding-right: 16px;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-4 {
  padding-bottom: 4px;
}

.pb-8 {
  padding-bottom: 8px;
}

.pb-12 {
  padding-bottom: 12px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-4 {
  padding-left: 4px;
}

.pl-8 {
  padding-left: 8px;
}

.pl-12 {
  padding-left: 12px;
}

.pl-16 {
  padding-left: 16px;
}

.w-1 {
  width: 132px;
}

.w-2 {
  width: 280px;
}

.w-3 {
  width: 428px;
}

.w-4 {
  width: 576px;
}

.w-5 {
  width: 724px;
}

.w-6 {
  width: 872px;
}

.w-7 {
  width: 1020px;
}

.w-8 {
  width: 1168px;
}

.w-9 {
  width: 1316px;
}

.w-10 {
  width: 1464px;
}

.w-11 {
  width: 1612px;
}

.w-12 {
  width: 1760px;
}

/* Height for filters */
.h-filter {
  height: 150px;
}

/* Heights for rows with no filter */

/* Height for one row with no filter */
.h-nofilter-1-row-of-1 {
  height: 814px;
}

.h-nofilter-1-row-of-1__body {
  height: 769px;
}

/* Height for no filter 2 rows */
.h-nofilter-1-row-of-2 {
  height: 399px
}

.h-nofilter-1-row-of-2__body {
  height: 354px;
}

/* Heights for rows with filter */

/* Height for one row after a filter */
.h-with-filter-1-row-of-1 {
  height: 648px;
}

.h-with-filter-1-row-of-1__body {
  height: 603px;
}

/* Height for row of charts if there is filter and 2 rows of charts */
.h-with-filter-1-row-of-2 {
  height: 316px;
}

/* Height for h-with-filter-1-row-of-2 chart's bodies*/
.h-with-filter-1-row-of-2__body {
  height: 271px;
}

.title {
  font-size: 14px;
  font-weight: 600;
}

.bg-white {
  border-radius: 0.4rem;
  background-color: #fafaf9;
  /* border: 1px solid #C8CED3; */
  border: 0;
  /* box-shadow: 0 0 4px lightgray; */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
}

.btn-sq-lg {
  width: 100% !important;
  height: 100% !important;
  margin: 0;
}

.btn-hrec-lg {
  width: 100% !important;
  height: 50% !important;
  margin: 0;
}

.btn-sq-md {
  width: 50% !important;
  height: 50% !important;
  margin: 0;
}

/* Button styling */
.button-f {
  width: 112px;
  height: 112px;
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
  padding: 0 6px 6px 4px;
  background-color: #fafaf9;
}

.button-h {
  width: 112px;
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 8px 8px 4px;
  margin-bottom: 4px;
  background-color: #fafaf9;
}

.button-h__double {
  width: 112px;
  height: 54px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 8px 8px 4px;
}

.button-f__double {
  display: flex;
  flex-direction: column;
  height: 106px;
  justify-content: space-between;
}

.button-f__title,
.button-h__title {
  padding-top: 4px;
  font-size: 12px;
  line-height: 10px;
}

.button-f__value,
.button-h__value {
  font-size: 22px;
  line-height: 16px;
  align-self: flex-end !important;
}

.button-q {
  width: 54px;
  height: 44px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fafaf9;
}

.button-q__title {
  font-size: 10px;
  line-height: 10px;
  align-self: center;
  color: #A5B2BF;
}

.button-q__value {
  font-size: 16px;
  line-height: 12px;
  margin: 0 4px 4px 0;
  align-self: flex-end;
}

.button-f,
.button-h,
.button-q,
.button-h__double {
  border: 1px solid #C8CED3;
}

.button-q__group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button-link {
  /* border-color: #b4d6ec;
  font-style: normal;
  color: #4d4d4d;
  cursor: pointer;
  background-color: #d1e8f6;
  font-size: 14px;
  height: 38px;
  line-height: 38px;
  padding: 0 .75rem;
  border-radius: .25rem; */
  border: 0;
  text-decoration: underline;
  padding: 0 .75rem;
  cursor: pointer;
}

.alert-box-test {
  margin: 0;
}

.page {
  background-color: #e9f0f5;
  height: 846px;
  max-width: 1792px;
  width: 100%;
  align-self: stretch;
}

.disabled:disabled,
.DateInput_input__disabled {
  cursor: not-allowed;
  border: 1px solid #6c757d;
  background-color: #6c757d !important;
  color: #ffffff;
  opacity: .65;
  font-style: normal;
}

/* Dash Table Height Rule to inherit previous choice */
.dash-fixed-content,
.dash-spreadsheet-container {
  height: inherit !important;
}

/* Dash Table Max Height Rule to have the heighest possibility only */
.dash-spreadsheet.dash-freeze-top, .dash-spreadsheet.dash-virtualized {
  max-height: 769px !important;
}

/* Text styling for the message indicating no data to show */
.text-no-data {
  font-family: inherit;
  font-style: italic;
  text-align: center;
  margin-top: 16px;
}

/* Dash Table's pagination container */
.previous-next-container {
  padding-top: 0 !important;
}

/********************\
    Navigation Bar
\********************/
.page__header {
  align-items: flex-start;
  background-color: #e9f0f5;
  height: 54px;
  padding: 16px 16px 0 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav__site-selector,
.nav__page-selector {
  font-size: 14px;  
}

.nav__other-selector {
  width: 1084.75px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}

.nav__date-selector {
  display: flex;
  width: 286px;
}

.DateInput_input,
.DateInput_input_1,
.DateInput_input__focused,
.DateInput_input__focused_2 {
  height: 36px;
  font-size: 14px !important;
  font-family: "Lato", "Verdana", "Lucida Sans";
  font-weight: 400;
  text-align: center;
}

.SingleDatePickerInput__withBorder,
.SingleDatePickerInput__withBorder_2 {
  border: 0;
}

.CalendarDay {
  padding: 1px;
}

.nav__timepicker {
  font-weight: 400;
  text-align: center;
  font-size: 14px !important;
  line-height: 14px;
  height: 32px;
  user-select: none;
  white-space: nowrap;
  border: 1px solid #c8ced3;
  border-radius: 0;
  align-items: baseline;
}

.nav__timepicker {
  display: inline-block;
  width: 60px;
  color: #4d4d4d;
  background-color: #fafaf9;
}

.nav__set--bttn {
  user-select: none;
  color: #333333;
  background-color: #DCDCDC;
  width: 4em;
  border-radius: 0.25rem;
  margin-left: 10px;
  padding: 1px;
}

.nav__set--bttn:hover {
  color: #333333;
  background-color: #F5F5F5;
}

.nav__set--bttn p {
  line-height: 14px;
  margin-top: 11px;
}

.nav__timepicker{
  width: 100px;
}

.nav__live-switch {
  line-height: 14px;
  height: 38px;
  margin: 0 .5em;
  font-size: 14px;
  align-items: center;
}

.nav__live-switch--label {
  margin-top: 10px;
}

.nav__history-picker{
  display: none;
  height: 38px;
  background-color: #e9f0f5;
  border-color: #c8ced3;
}

.nav__history-picker--label{
  color: #333;
  line-height: 14px;
  font-size: 14px;
}

.nav__history-picker--body {
  user-select: none;
  color: #333;
  background-color: #fafaf9;
  border-radius: 0;
  text-align: center;
  white-space: nowrap;
  border: 1px solid #c8ced3;
  font-size: 14px !important;
  line-height: 14px;
  height: 38px;
  width: 70px;
}

.daq-booleanswitch--light {
  margin-right: 1rem;
  margin-top: 4px;
}

.Select-control {
  border-radius: 0 !important;
  height: 38px !important;
}

.Select-control:hover {
  box-shadow: none !important;
}

.dash-dropdown {
  height: 38px;
}

.Select--multi .Select-value {
  font-size: inherit;
}

.js-plotly-plot .plotly, .js-plotly-plot .plotly div {
  font-family: "Lato", "Calibri", "Verdana", "Lucida Sans" !important;
}

/*****************\
    Map Page
\*****************/
.mapPage__body {
  padding: 16px;
}

#mappage-map {
  height: 814px;
  width: 100%;
}

/*****************\
  Summary Page
\*****************/
.summary__page {
  display: flex;
  flex-direction: column;
  width: 1792px;
}

.summary__schematic--title {
  padding-bottom: 4px;
}

.summary__second-row {
  display: flex;
  flex-direction: row;
}

.summary__buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 4px;
  justify-content: space-between;
}

.summary__buttons-group--g1,
.summary__buttons-group--g2,
.summary__buttons-group--g3  {
  display: flex;
  flex-direction: column;
}

.summary__buttons-group--body {
  display: flex;
  flex-direction: row;
}

.summary__buttons-group--title {
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 16px;
}

.summary__risk-chart--title,
.summary__drops-chart--title,
.summary__table-graph--title {
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  padding: 4px;
}

.summary__risk-chart--sub-title,
.summary__drops-chart--sub-title,
.summary__table-graph--sub-title {
  font-size: 10px;
  line-height: 10px;
  font-weight: 300;
  padding: 0 8px 16px 8px;
}

.summary__charts-and-table {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.summary__charts {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.summary__charts--risks,
.summary__charts--drops {
  width: 100%;
}

.summary__risk-chart--graph,
.summary__drops-chart--graph {
  height: 260px;
  padding: 4px;
}

.summary__table {
  width: 70%;
}

.summary__table-graph {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.summary__table-graph--graph,
.summary__table-graph--grid {
  align-self: center;
}

.summary__table-graph--body {
  height: 283px;
}

#summ-ts-dropdown{
  margin: 0 6px;
}

#summ-readings-table-div {
  width: 100% !important;
}

/******************************************\
    Equipment availability exceptions
\******************************************/
.equipment-availability-exceptions__page {
  height: 846px;
  width: 1792px;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.equipment-availability-exceptions__row-1,
.equipment-availability-exceptions__row-2,
.equipment-availability-exceptions__row-3 {
  display: flex;
  flex-direction: row;
}

/* Filters */
.equipment-availability-exceptions__r1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.equipment-availability-exceptions__r1--filter-title,
.equipment-availability-exceptions__title {
  padding-bottom: 8px;
}

#exc-avail-datatable,
#exc-failure-datatable {
  height: 220px;
}


#exc-avail-piechart,
#exc-failure-piechart,
#exc-avail-barchart,
#exc-failure-barchart {
  height: 271px;
}

/******************************************\
    Bearing Temperature Exceptions
\******************************************/
.bearing-temperature-exceptions__page {
  height: 846px;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.bearing-temperature-exceptions__r1--days-filter {
  border-radius: 0;
  border: 1px solid #c8ced3;
  color: #333;
  width: 100%;
  line-height: 34px;
  padding-left: 6px;
}

.bearing-temperature-exceptions__title {
  padding-bottom: 8px;
}

#bearing-ot-datable-div {
  height: 220px;
}

#bearing-ot-barchart {
  height: 271px;
}

/******************************************\
    Motor Temperature Exceptions
\******************************************/
.motor-temperature-exceptions__page {
  height: 846px;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.motor-temperature-exceptions__r1--days-filter {
  border-radius: 0;
  border: 1px solid #c8ced3;
  color: #333;
  width: 100%;
  line-height: 34px;
  padding-left: 6px;
}

.motor-temperature-exceptions__title {
  padding-bottom: 8px;
}

#motor-ot-table-barchart {
  height: 271px;
}

#motor-ot-datatable-div {
  height: 220px;
}

/******************************************\
    PLC Data Issues Page
\******************************************/
.plc-data__page {
  height: 846px;
  width: 1792px;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.plc-data__row-1 {
  justify-content: flex-end;
}

.plc-data__row-2 {
  display: flex;
  flex-direction: row;
}

.plc-data__g1 {
  align-self: flex-end;
}

.plc-data__title {
  padding-bottom: 8px;
}

#plc-data-datatable-div {
  height: 550px;
}

/******************************************\
    PLC Communication Issues Page
\******************************************/
.plc-communication__page {
  height: 846px;
  width: 1792px;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.plc-communication__row-1 {
  justify-content: flex-end;
}

.plc-communication__row-2 {
  display: flex;
  flex-direction: row;
}

.plc-communication__title {
  padding-bottom: 8px;
}

#plc-communication-datatable-div {
  height: 550px;
}

/******************************************\
    None-execution of maintenance plans
\******************************************/
.nemp__page {
  height: 846px;
  width: 1792px;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.nemp__r2 {
  display: flex;
  flex-direction: row;
}

.nemp__title {
  padding-bottom: 8px;
}

#nemp-type-radio {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 0 6px 6px 6px;
}

.nemp__filter--radio {
  margin-right: 6px;
}

#nemp-pie-chart {
  height: 271px;
  margin: 0 10px 10px 10px;
  width: 90%;
}

#nemp-bar-chart {
  height: 271px;
}

/************************\
    Water Quality Page
\************************/
.water-quality-page__body {
  height: 846px;
  width: 1792px;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.water-quality__readings {
  display: flex;
  flex-direction: column;
}

.water-quality__exceptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.water-quality__readings--title,
.water-quality__exceptions--title {
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  padding: 4px;
}

.water-quality__readings--sub-title,
.water-quality__exceptions--sub-title {
  font-size: 10px;
  line-height: 10px;
  font-weight: 300;
  padding: 0 8px 8px 8px;
}

.water-quality__readings--body,
.water-quality__exceptions--body {
  align-items: center;
  padding: 0 16px;
}

.water-quality-filters {
  display: flex;
  flex-direction: row;
}

.water-quality-filters--g1 {
  display: flex;
  flex-direction: column;
}

.water-quality-filters__func-area {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 12px;
}

.water-quality-filters__func-area--input {
  margin-right: 6px;
}

#wq-readings-table {
  height: 220px;
}

#wq-exc-pieplot,
#wq-exc-barplot {
  height: 603px;
}

/******************************************\
    Clarification DAF Streams Page
\******************************************/
.clarification-daf-streams__page {
  height: 846px;
  width: 1792px;
  display: flex;
  flex-direction: row;
  padding: 16px;
}

.clarification-daf-streams__column-1,
.clarification-daf-streams__column-2 {
  display: flex;
  flex-direction: column;
}

.clarification-daf-streams__g3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
}

/* Filters */
.clarification-daf-streams__g3--filter-body {
  display: flex;
  flex-direction: row;
  justify-content: flex-end !important;
}

/******************************************\
    Filtration RGF Page
\******************************************/
.filtration-rgf__page {
  height: 846px;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.filtration-rgf__row-1,
.filtration-rgf__row-2 {
  display: flex;
  flex-direction: row;
}

.filtration-rgf__body {
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.filtration-rgf__page .button-f__value,
.filtration-rgf__page .button-h__value {
  font-size: 14px;
  /* font-stretch: narrower; */
}

#filt-rgf-datatable, 
#filt-gac-datatable {
  float: left;
  width: 100%;
  height: 550px;
}



.filtration-rgf__g3 {
  height: 648px;
}

/******************************************\
    GAC Adsorber Risks
\******************************************/
.gac__page {
  height: 846px;
  width: 1792px;
  display: flex;
  flex-direction: row;
  padding: 16px;
}

.gac__column-1,
.gac__column-2 {
  display: flex;
  flex-direction: column;
}

.gac__g3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
}

/* Filters */

.gac__g3--filter-body {
  display: flex;
  flex-direction: row;
  justify-content: flex-end !important;
}

/* Graph heights */
#gac-daysrunning-graph {
  height: 354px;
}

#gac-tablediv-current {
  height: 354px;
}

#gac-tablediv-recent {
  height: 550px;
}

#filt-gac-tablediv {
  float: left;
  width: 100%;
  height: 550px;
}

/******************************************\
    OSM/Discharge Schematic Drilldown
\******************************************/
.schematic-drilldown__page {
  height: 846px;
  width: 1792px;
  display: flex;
  flex-direction: row;
  padding: 16px;
}

.schematic-drilldown__c2--table {
  width: 100%;
}

.schematic-drilldown__title {
  padding: 4px;
}

.schematic-drilldown__sub-title {
  font-size: 10px;
  line-height: 10px;
  font-weight: 300;
  padding: 4px 8px 8px 8px;
}

#osm-brkdn-schematic {
  height: 769px;
}

#osm-brkdn-alarms-tablediv,
#osm-brkdn-values-tablediv {
  height: 294px;
}

#osm-brkdn-schematic > div,
#summ-schematic > div {
  display: flex;
  justify-content: center;
}

/*****************************
      -- MEDIA QUERIES--
******************************/
/* For devices larger than 1000px */
@media (min-width: 1000px) {
  .w-1 {
    width: calc(100% / 12);
  }

  .w-2 {
    width: calc(100% / 6);
  }

  .w-3 {
    width: calc(100% / 4);
  }

  .w-4 {
    width: calc(100% / 3);
  }

  .w-5 {
    width: calc(100% * 5 / 12);
  }

  .w-6 {
    width: calc(100% / 2);
  }

  .w-7 {
    width: calc(100% * 7 / 12);
  }

  .w-8 {
    width: calc(100% * 8 / 12);
  }

  .w-9 {
    width: calc(100% * 9 / 12);
  }

  .w-10 {
    width: calc(100% * 10 / 12);
  }

  .w-11 {
    width: calc(100% * 11 / 12);
  }

  .w-12 {
    width: 100%;
  }
  
  .summary-page__sections,
  .nemp__page,
  .equipment-availability-exceptions__page,
  .bearing-temperature-exceptions__page,
  .motor-temperature-exceptions__page,
  .plc-data__page,
  .plc-communication__page,
  .water-quality-page__body,
  .clarification-daf-streams__page,
  .filtration-rgf__page,
  .gac__page,
  .schematic-drilldown__page {
    width: 100%;
  }
}
